<span id="anon-alert-template">
	Сохранённая карта будет доступна ещё <strong>6 месяцев</strong>. Нажми <em>Файл -&gt Сохранить как</em> дабы пересохранить в другое место (<a href="http://blog.mindmup.com/p/storage-options.html" target="_blank">Подробнее</a>).
	<span style="margin-left: 50px">(Больше&nbsp;не&nbsp;показывать<input type="checkbox" style="margin:0px"/>)</span>
</span>
