<div id='modalAutoSave' class='modal hide fade'>
  <div class='modal-header'>
    <h3>You have unsaved local changes</h3>
  </div>
  <div class='modal-body'>
    <p>
    Были сделаны не сохранённые изменения.
    Что будем с ними делать? Восстановим или сбросим?
    </p>
  </div>
  <div class='modal-footer'>
    <a data-category="Auto Save" data-event-type="Apply" href='#' data-mm-role='apply' tabstop='1' class='btn btn-primary'>Восстановить</a>
    <a data-category="Auto Save" data-event-type="Discard" href='#' data-mm-role='discard' tabstop='2' class='btn'>Сбросить</a>
  </div>
</div>
