<div data-mm-role="share" class="modal hide fade" id="modalEmbedMap">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Embed this map</h3>
	</div>
	<div class="modal-body">
    <p>Вставьте этот HTML-код себе на сайт.</p>

		<textarea readonly>
<a href="<%=settings.embed_base_url%>map/MAPID" data-role="mindmup-embed" title="TITLE" data-width="90%" data-height="500" data-style="border:1px solid black;margin-bottom:5px;">TITLE on MindMup</a>
<script async src="<%=settings.embed_base_url%>external-embed.js"></script>
  </textarea>
  <p class="small">Можно менять внешний вид, экспериментируя с настройками data-width, data-height и data-style.</p> 
  <p class="small">Скрипт лучше добавлять в конец страницы (так загружается быстрее). Если на странице несколько карт, скрипт нуно вставить один раз.</p>
	</div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Закрыть</button>
  </div>
</div>
