<div id='modalImport' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>Импорт файла</h3>
  </div>
  <div class='modal-body'>
	  <p>Импортируй файлы MindMup (.mup) или a FreeMind (.mm) со своего компьютера. Просто укажи файл, нажав кнопку ниже.</p>
  </div>
  <div class='modal-footer'>
	  <div class="pull-left" data-mm-role="status"></div>
	  <button data-mm-role='select-file' class='btn btn-primary btn-file'>Выбрать файл</button>
	  <input type="file" name="file" />
  </div>
</div>
