<div id="modalPDFExport" data-mm-role="layout-export" class="modal hide fade" data-mm-format="pdf">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Export to PDF</h3>
  </div>
  <div class="modal-body">
    <div class="visible initial">
      <p>Карта будет сохранена на наш сервер для обработки. Документация <a href="http://blog.mindmup.com/p/pdf-export.html" target="_blank" >по экспорту в PDF</a> расписывает процесс во всех подробностях.</p>
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Положение:</label>
          <div class="controls">
            <div class="btn-group" data-toggle="buttons-radio">
              <button name="orientation" type="button" class="btn active" value="landscape">
                <img src="/img/portrait.png" class="export landscape"/>
              </button>
              <button name="orientation" type="button" class="btn " value="portrait">
                <img src="/img/portrait.png" class="export"/>
              </button>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Размер листа:</label>
          <div class="controls">
            <select name="page-size">
              <option>A0</option>
              <option>A1</option>
              <option>A2</option>
              <option>A3</option>
              <option selected>A4</option>
              <option>A5</option>
              <option value="LETTER">US Letter</option>
              <option value="LEGAL">US Legal</option>
              <option value="TABLOID">US Tabloid</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="visible inprogress alert alert-info alert-block">
      <i class="icon-spinner icon-spin"></i>&nbsp;Экспортируем карту...
    </div>
    <div class="visible done alert alert-success alert-block">
      <h4>Экспорт завершён:</h4> <a target="_blank" data-mm-role="output-url">Нажми, чтобы открыть</a> (ссылка будет доступна 24 часа)
    </div>
    <div class="visible error alert alert-error alert-block">
      <h4>Экспорт в PDF не удался:</h4>
      <br/>

      <span data-mm-role="error-message"></span>
      <span data-mm-role="generation-error">
        Карта содержит элементы, не поддерживаемые при экспорте в PDF.</b>
      </span>
      <span data-mm-role="file-too-large">
         <p>
           Экпортируемая карта слишком большая. Максимальный допустимый размер карты:
           <ul>
              <li>Для всех пользователей: <%=settings.s3_max_upload_size%> Kb </li>
           </ul>

         </p>
      </span>
      <span data-mm-role="polling-timeout">
        Похоже, сервер задумался. Попробуйте позже...
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <a tabstop="1" href="#" class="btn btn-primary visible initial" data-mm-role="export">Экспорт</a>
    <a tabstop="2" href="#" class="btn visible initial inprogress" data-dismiss="modal">Отмена</a>
    <a tabstop="2" href="#" class="btn visible done error" data-dismiss="modal">Закрыть</a>
  </div>
</div>
