<div id="topbar" class="navbar navbar-fixed-top navbar">
  <div class="navbar-inner">
    <div>
      <ul class="nav pull-left" id="mainMenu">
        <li><a id="logo-img" data-toggle="modal" data-target="#modalKeyActions" data-placement="bottom" href="#" data-title="Открыть главное меню" rel="tooltip" data-category="Top Bar" data-event-type="Logo">&nbsp;</a>
        </li>
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="Top Bar" data-event-type="Open Bookmarks">Файл</a>
          <ul class="dropdown-menu" role="menu" id="listBookmarks">
            <li class="template" style="display:none"><a data-category="Top Bar" data-event-type="Bookmark click" class="repo"><button data-mm-role='bookmark-delete' class='btn-inline pull-right icon-remove' rel='tooltip' data-title='Remove bookmark'></button></a></li>

            <li> <a href="#m:new" data-category="Top Bar" data-event-type="Create a Map"><i class="icon-lightbulb"></i>&nbsp;Новая&nbsp;карта</a> </li>
            <li> <a href="#" data-mm-role="new-from-clipboard" data-category="Top Bar" data-event-type="New From Clipboard"><i class="icon-paste"></i>&nbsp;Новая&nbsp;Frиз&nbsp;буфера&nbsp;обмена</a> </li>

			<li class="dropdown-submenu">
			<a href="#"><i class="icon-cloud-upload"></i>&nbsp;Открыть/Импорт</a>
			<ul data-mm-role="open-sources" class="dropdown-menu" role="menu">
				<li  class="hidden-touch">
					<a data-event-type="Import" data-category="Top Bar" data-target="#modalImport" data-toggle="modal"><i class="icon-laptop"></i>&nbsp;С локального диска</a>
				</li>
				<li>
					<a data-event-type="Open from Google" data-category="Top Bar" data-mm-role="google-drive-open"><span class="repo repo-g"></span>&nbsp;Из Google Drive</a>
				</li>
				<li>
					<a data-event-type="Open from Browser Storage" data-category="Top Bar" data-target="#modalLocalStorageOpen" data-toggle="modal"><span class="repo repo-o"></span>&nbsp;Из браузера</a>
				</li>
			</ul>
			</li>
            <li class="divider hidden-touch"></li>
			<li class="hidden-map-changed disabled">
			<a><i class="icon-save"></i>&nbsp;Сохранить</a>
			</li>
			<li data-mm-role="save" class="visible-map-changed">
			  <a data-mm-role="publish" data-category="Top Bar" data-event-type="Save Map"><span data-mm-role="currentrepo" class="repo repo-a"></span>&nbsp;Сохранить</a>
			</li>
            <li class="dropdown-submenu">
              <a href="#"><i class="icon-save"></i>&nbsp;Сохранить как</a>
              <ul data-mm-role="save" class="dropdown-menu" role="menu">
				<li><a data-mm-repository='g' href="#" data-category="Top Bar" data-event-type="Save to Google Drive">Google&nbsp;Drive</a></li>
				<li><a data-mm-repository='o' href="#" data-category="Top Bar" data-event-type="Save to Browser Storage">Браузер</a></li>
			  </ul>
			</li>
            <li class="hidden-touch dropdown-submenu">
              <a href="#"><i class="icon-download-alt"></i>&nbsp;Экспорт карты</a>
              <ul class="dropdown-menu" role="menu">
                <li><a rel="nofollow" data-mm-role="remote-export"  data-mm-format="mm"   data-category="Top Bar" data-event-type="Export FreeMind">FreeMind</a> </li>
                <li><a rel="nofollow" data-mm-role='remote-export'  data-mm-format="png"  data-category="Top Bar" data-event-type="Export Image">Картинка (PNG)</a> </li>
                <li><a rel="nofollow" data-mm-role="remote-export"  data-mm-format="html" data-category="Top Bar" data-event-type="Export Html">HTML</a> </li>
                <li><a rel="nofollow" data-mm-role="remote-export"  data-mm-format="txt"  data-category="Top Bar" data-event-type="Export CSV">Текст (разделен табуляцией)</a> </li>
                <li><a rel="nofollow" data-mm-role="remote-export"  data-mm-format="measures" data-mm-extension="txt" data-category="Top Bar" data-event-type="Export Measures">Размер (разделен табуляцией)</a> </li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a href="#"><i class="icon-share-alt"></i>&nbsp;Поделиться картой</a>
              <ul class="dropdown-menu" role="menu" id="sharelinks" data-mm-role="sharelinks">
                <li class="visible-map-source-a hidden-map-changed"><a data-target="#modalEmbedMap" data-toggle="modal" data-category='Top Bar' data-event-type='Embed this map'><i class="icon-code"></i>&nbsp;Вставить код карты</a></li>
                <li class="visible-map-source-a hidden-map-changed"><a data-target="#modalShareEmail" data-toggle="modal" data-category='Top Bar' data-event-type='Share Email'><i class="icon-envelope"></i>&nbsp;в e-mail</a></li>
                <li class="visible-map-source-a hidden-map-changed"><a data-mm-role="share" data-mm-target="twitter"  data-category='Top Bar' data-event-type='Share Twitter'><i class="icon-twitter"></i>&nbsp;в Twitter</a></li>
                <li class="visible-map-source-a hidden-map-changed"><a data-mm-role="share" data-mm-target="facebook" data-category='Top Bar' data-event-type='Share Facebook'><i class="icon-facebook"></i>&nbsp;на Facebook</a></li>
                <li class="visible-map-source-a hidden-map-changed" rel='tooltip' data-title='Click to copy'><input type='text' style="margin-left:25px" class='hide span2 noglow pull-right' style="cursor:pointer" data-mm-role='short-url' ></input></li>
                <li class="visible-map-source-a visible-map-changed disabled"><a>Сохраните карту, прежде чем ей делиться</a></li>

                <li class="visible-map-source-b"><a data-target="#modalEmbedMap" data-toggle="modal" data-category='Top Bar' data-event-type='Embed this map'><i class="icon-code"></i>&nbsp;Вставить код карты</a></li>
                <li class="visible-map-source-b"><a data-target="#modalShareEmail" data-toggle="modal" data-category='Top Bar' data-event-type='Share Email'><i class="icon-envelope"></i>&nbsp;by e-mail</a></li>
                <li class="visible-map-source-b"><a data-mm-role="share" data-mm-target="twitter"  data-category='Top Bar' data-event-type='Share Twitter'><i class="icon-twitter"></i>&nbsp;в Twitter</a></li>
                <li class="visible-map-source-b"><a data-mm-role="share" data-mm-target="facebook" data-category='Top Bar' data-event-type='Share Facebook'><i class="icon-facebook"></i>&nbsp;на Facebook</a></li>
                <li class="visible-map-source-b" rel='tooltip' data-title='Click to copy'><input type='text' style="margin-left:25px" class='hide span2 noglow pull-right' style="cursor:pointer" data-mm-role='short-url' ></input></li>

                <li class="visible-map-source-g"><a class="repo repo-g" href="#" data-mm-role="share-google" data-category="Top Bar" data-event-type="Share Google">Поделиться через Google Drive</a></li>
                <li class="visible-map-source-p" data-mm-role="save"><a data-mm-repository="b">Сделайте карту публичной, прежде чем начать ей делиться</a></li>
                <li class="visible-map-source-o" data-mm-role="save"><a data-mm-repository="a">Загрузите карту онлайн, прежде чем ей поделиться</a></li>
                <li class="visible-map-source-n" data-mm-role="save"><a data-mm-role="publish">Сохраните карту, чтобы ей поделиться</a></li>
              </ul>
            </li>
            <li>
              <a data-event-type="Pin" data-mm-role="bookmark-pin" data-category="Top Bar"><i class="icon-pushpin"></i>&nbsp;Добавить в закладки</a>
            </li>
            <li class="divider"  />
            <li data-mm-role="bookmark"><a>Сперва, сохраните карту</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="Top Bar" data-event-type="Tools">Редактировать</a>
          <ul class="dropdown-menu" id="nodeContextMenu" role="menu">
            <li rel="tooltip" data-title="Ctrl+z"><a data-category="Top Bar" data-event-type="Undo" class="undo"><i class="icon-undo"></i>&nbsp;Назад</a></li>
            <li class="hidden-phone-landscape" rel="tooltip" data-title="Ctrl+Shift+z"><a data-category="Top Bar" data-event-type="Redo" class="redo"><i class="icon-repeat"></i>&nbsp;Вперёд</a></li>

            <li class="divider hidden-phone"></li>
			<li class="hidden-phone-landscape" rel="tooltip" data-title="Ctrl+F"><a data-category="Top Bar" data-event-type="Find" data-mm-role="show-map-search"><i class="icon-search"></i>&nbsp;Найти</a></li>
            <li class="hidden-phone-landscape" rel="tooltip" data-mm-context-menu="Clipboard" data-title="Ctrl+c"><a data-category="Top Bar" data-event-type="Copy" class="copy"><i class="icon-copy"></i>&nbsp;Копровать</a></li>
            <li class="hidden-phone-landscape" rel="tooltip" data-mm-context-menu="Clipboard" data-title="Ctrl+x"><a data-category="Top Bar" data-event-type="Cut" class="cut"><i class="icon-cut"></i>&nbsp;Вырезать</a></li>
            <li class="hidden-phone-landscape" rel="tooltip" data-mm-context-menu="Clipboard" data-title="Ctrl+v"><a data-category="Top Bar" data-event-type="Paste" class="paste"><i class="icon-paste"></i>&nbsp;Вставить</a></li>
            <li class="hidden-phone" rel="tooltip" data-mm-context-menu="Select" data-title="&#123;"><a data-category="Top Bar" data-event-type="Select subtree" class="activateNodeAndChildren"><i class="icon-sitemap"></i>&nbsp;Выбрать&nbsp;ветку&nbsp;уровнем&nbsp;ниже</a></li>
            <li class="hidden-phone" rel="tooltip" data-mm-context-menu="Select" data-title="["><a data-category="Top Bar" data-event-type="Select all children" class="activateChildren"><i class="icon-th-list"></i>&nbsp;Выбрать&nbsp;дочерние&nbsp;элементы</a></li>
            <li class="hidden-phone" rel="tooltip" data-mm-context-menu="Select" data-title="="><a data-category="Top Bar" data-event-type="Select all siblings" class="activateSiblingNodes"><i class="icon-ellipsis-vertical"></i>&nbsp;Выбрать&nbsp;элементы&nbsp;того&nbsp;же&nbsp;уровня</a></li>

            <li class="divider hidden-phone"></li>

            <li rel="tooltip" data-mm-context-menu="Insert" data-title="Tab"><a data-category="Top Bar" data-event-type="Add idea" class="addSubIdea"><i class="icon-signout" ></i>&nbsp;Добавить элемент уровнем ниже</a></li>
            <li class="hidden-phone-landscape" rel="tooltip" data-mm-context-menu="Insert" data-title="Enter"><a data-category="Top Bar" data-event-type="Insert Sibling" class="addSiblingIdea"><i class="icon-download-alt" ></i>&nbsp;Добавить элемент того же уровня</a></li>
            <li class="hidden-phone-landscape" data-mm-context-menu="Insert" rel="tooltip" data-title="Shift+Tab"><a data-category="Top Bar" data-event-type="Insert Intermediate" class="insertIntermediate"><i class="icon-signin" ></i>&nbsp;Добавить элемент уровнем выше</a></li>
            <li rel="tooltip" data-mm-context-menu data-title="Backspace"><a data-category="Top Bar" data-event-type="Delete idea" class="removeSubIdea"><i class="icon-remove"></i>&nbsp;Удалить</a></li>

            <li class="divider hidden-phone"></li>

            <li rel="tooltip" data-mm-context-menu data-title="Spacebar"><a data-category="Top Bar" data-event-type="Edit idea" class="editNode"><i class="icon-pencil"></i>&nbsp;Изменить текст элемента</a></li>
            <li rel="tooltip" data-mm-context-menu data-title="Shift+Spacebar"><a data-category="Top Bar" data-event-type="Node Color"><input type="hidden" data-mm-target-property='background' class="updateStyle"></input>&nbsp;Цвет элемента</a></li>

            <li rel="tooltip" data-mm-context-menu data-title="I"><a data-category="Top Bar" data-event-type="Open Icon Editor" class="editIcon"><i class="icon-picture"></i>&nbsp;Картинка элемента</a></li>
            <li rel="tooltip" data-mm-context-menu data-title="Alt+click"><a data-category="Top Bar" data-event-type="Add link" class="toggleAddLinkMode"><i class="icon-resize-horizontal"></i>&nbsp;Соединить</a></li>
            <li rel="tooltip" data-mm-context-menu data-title="/ or F"><a data-category="Top Bar" data-event-type="Collapse idea" class="toggleCollapse"><i class="icon-leaf"></i>&nbsp;Развернуть/Свернуть</a></li>

            <li class="divider hidden-phone"></li>
            <li rel="tooltip" data-mm-context-menu data-title="A"><a data-category="Top Bar" data-event-type="Open Attachment"   class="openAttachment"><i class="icon-paper-clip"></i>&nbsp;Приложение к элемету</a></li>
			<li rel="tooltip" data-mm-context-menu data-title="M"><a data-category="Top Bar" data-event-type="Open Measurements" data-mm-role="activatedNodesMeasureSheet"><i class="icon-table">&nbsp;<span class="visible-column-split">Скрыть</span><span class="visible-row-split">Скрыть</span><span class="hidden-column-split hidden-row-split">Показать</span>&nbsp;Измерения</i></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="Top Bar" data-event-type="View">Вид</a>
          <ul class="dropdown-menu" role="menu">
            <li rel="tooltip" data-title="z"><a data-category="Top Bar" data-event-type="Zoom in" class="scaleUp"><i class="icon-zoom-in"></i>&nbsp;Приблизить</a></li>
            <li rel="tooltip" data-title="Shift+z"><a data-category="Top Bar" data-event-type="Zoom out" class="scaleDown"><i class="icon-zoom-out"></i>&nbsp;Отдалить</a></li>
            <li rel="tooltip" data-title="Esc or 0"><a data-category="Top Bar" data-event-type="Zoom reset" class="resetView"><i class="icon-circle-blank"></i>&nbsp;По центру окна</a></li>

            <li class="divider hidden-touch"></li>

            <li class="hidden-touch visible-row-split" rel="tooltip" data-title="Alt+o"><a data-mm-target="body" data-mm-role="split-flip" ><i class="icon-columns"></i>&nbsp;Разделить&nbsp;колонки</a></li>
            <li class="hidden-touch visible-column-split" rel="tooltip" data-title="Alt+o"><a data-mm-target="body" data-mm-role="split-flip"><i class="icon-columns icon-rotate-270"></i>&nbsp;Разделить&nbsp;строки</a></li>

            <li class="hidden-touch" rel="tooltip" data-title="Ctrl+b"><a data-mm-target="body" data-mm-role="toggle-class" data-mm-class="collapsed-toolbar"><i class="icon-food"></i>&nbsp;<span class="visible-collapsed-toolbar">Показать</span><span class="hidden-collapsed-toolbar">Скрыть</span>&nbsp;панельку</a></li>

            <li class="hidden-touch" rel="tooltip" data-title="Ctrl+shift+b"><a data-mm-target="body" data-mm-role="toggle-class" data-mm-class="hidden-topbar" data-mm-key="ctrl+shift+b meta+shift+b"><i class="icon-list-alt"></i>&nbsp;
              <span class="topbar-autohide">Автоматически скрывать</span><span class="topbar-fixed">Всегда показывать</span>&nbsp;меню</a></li>

            <li class="hidden-touch" rel="tooltip"><a href="http://blog.mindmup.com/p/keyboard-shortcuts.html" target="_blank"><i class="icon-keyboard"></i>&nbsp;Список&nbsp;горячих&nbsp;клавиш</a></li>
          </ul>
        </li>
        <li class="hidden-phone-portrait"><a data-toggle="modal" data-target="#modalExtensions" href="#" data-title="Extensions" data-category="Top Bar" data-event-type="Extensions">Расширения</a></li>

      </ul>

      <ul class="nav pull-right">
        <li data-mm-role="save" class="pull-left btn-group">
          <button class="btn btn-primary" data-mm-role="publish" data-category="Top Bar" data-event-type="Save Map">Сохранить</button>
          <button class="btn dropdown-toggle" data-toggle='dropdown'><span data-mm-role='currentrepo' class='repo repo-a'>&nbsp;</span><b class="caret"></b></button>
          <ul class="dropdown-menu">
            <li><a data-mm-repository='g' rel="nofollow" href="#" data-category="Top Bar" data-event-type="Save to Google Drive">Google&nbsp;Drive</a></li>
            <li><a data-mm-repository='o' rel="nofollow" href="#" data-category="Top Bar" data-event-type="Save to Browser Storage">Browser&nbsp;Storage</a></li>
          </ul>
          </li>

        <li class="dropdown hidden-phone-portrait">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="About" data-event-type="Open"><i class="icon-info-sign"></i></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li> <a href="http://blog.mindmup.com/p/documentation.html" target="_blank" data-category="About" data-event-type="Help"><i class="icon-ambulance"></i>&nbsp;Помощь</a> </li>
            <li> <a href="#" class="menuAbout" data-target="#modalAbout" data-toggle="modal" data-category="About" data-event-type="What is MindMup"><i class="icon-info"></i>&nbsp;О MindMup</a> </li>
            <li> <a target="_blank" data-category="About" href="http://mindmup.uservoice.com/" data-event-type="Vote on features"><i class="icon-bullhorn"></i>&nbsp;Голосуй за фичи</a> </li>
            <li> <a href="#" class="menuterms" data-target="#modalTerms" data-toggle="modal" data-category="About" data-event-type="Legal info"><i class="icon-legal"></i>&nbsp;Правила пользования</a> </li>
            <li> <a href="/legal/privacy" class="menuterms" target="_blank" data-category="About" data-event-type="Privacy Policy"><i class="icon-lock"></i>&nbsp;Privacy Policy</a> </li>
            <li> <a href="http://blog.mindmup.com" target="_blank" data-category="About" data-event-type="News/Blog"><i class="icon-rss"></i>&nbsp;Новости/Блог</a> </li>
            <li> <a href="mailto:mindmup.ru@gmail.com" id="menuFeedback" data-label="topbar"><i class="icon-envelope"></i>&nbsp;Напиши нам</a> </li>
          </ul>
        </li>
        <li class="hidden-narrow-screen">
          <a rel="tooltip" data-title="Мы в Google+" data-placement="bottom" data-category="Top Bar" data-event-type="Get in touch - google+"  target="_blank" href="https://plus.google.com/112638104161428088986/posts" class="social"><i class="icon-google-plus-sign"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <%= erb :welcome_message %>
</div>
